<div id="input-alert">
  <!-- <div class="alert alert-warning" role="alert">This is a warning alert—check it out!</div> -->
</div>

<div class="mobile-pagination">
  <div id="0" class="swiper-button active">Lights</div>
  <div id="1" class="swiper-button">Sensors</div>
  <div id="2" class="swiper-button">Doors</div>
  <div id="3" class="swiper-button">Motion Sensors</div>
  <div id="4" class="swiper-button">Other 1</div>
  <div id="5" class="swiper-button">Other 2</div>
</div>

<!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="my-container">
        <div class="outfit">
          <section class="switches" id="switches">
            <ul>
              <%= render @switches %>
            </ul>
          </section>
          <%= image_tag("Floor Plan-Model.png", class: "house-img") %>
        </div>
      </div>
    </div>
    <div class="swiper-slide">State Sensors</div>
    <div class="swiper-slide">Doors</div>
    <div class="swiper-slide">Motion Sensors</div>
    <div class="swiper-slide">Other 1</div>
    <div class="swiper-slide">Other 2</div>
  </div>
  <!-- Add Arrows -->
</div>
