<div class="form-group control-group boolean_type days_to_repeat_field " id="event_enabled_field">
  <label class="col-sm-2 control-label" for="event_sunday">Sunday</label>
  <div class="col-sm-10 controls">
    <div class="checkbox">
      <label style="display: block;">
        <input name="event[sunday]" type="hidden" value="0"><input value="1" type="checkbox" checked="checked" name="event[sunday]" id="event_sunday">
      </label>
    </div>
  </div>

  <label class="col-sm-2 control-label" for="event_sunday">monday</label>
  <div class="col-sm-10 controls">
    <div class="checkbox">
      <label style="display: block;">
        <input name="event[monday]" type="hidden" value="0"><input value="1" type="checkbox" checked="checked" name="event[monday]" id="event_monday">
      </label>
    </div>
  </div>

  <label class="col-sm-2 control-label" for="event_sunday">tuesday</label>
  <div class="col-sm-10 controls">
    <div class="checkbox">
      <label style="display: block;">
        <input name="event[tuesday]" type="hidden" value="0"><input value="1" type="checkbox" checked="checked" name="event[tuesday]" id="event_tuesday">
      </label>
    </div>
  </div>

  <label class="col-sm-2 control-label" for="event_sunday">wednesday</label>
  <div class="col-sm-10 controls">
    <div class="checkbox">
      <label style="display: block;">
        <input name="event[wednesday]" type="hidden" value="0"><input value="1" type="checkbox" checked="checked" name="event[wednesday]" id="event_wednesday">
      </label>
      </div>
  </div>

  <label class="col-sm-2 control-label" for="event_sunday">thursday</label>
  <div class="col-sm-10 controls">
    <div class="checkbox">
      <label style="display: block;">
        <input name="event[thursday]" type="hidden" value="0"><input value="1" type="checkbox" checked="checked" name="event[thursday]" id="event_thursday">
      </label>
    </div>
  </div>

  <label class="col-sm-2 control-label" for="event_sunday">friday</label>
  <div class="col-sm-10 controls">
    <div class="checkbox">
      <label style="display: block;">
        <input name="event[friday]" type="hidden" value="0"><input value="1" type="checkbox" checked="checked" name="event[friday]" id="event_friday">
      </label>
    </div>
  </div>

  <label class="col-sm-2 control-label" for="event_sunday">saturday</label>
  <div class="col-sm-10 controls">
    <div class="checkbox">
      <label style="display: block;">
        <input name="event[saturday]" type="hidden" value="0"><input value="1" type="checkbox" checked="checked" name="event[saturday]" id="event_saturday">
      </label>
    </div>
  </div>
</div>

<script>
  function concatDays() {
    
  }
</script>