<select class="form-select" aria-label="Default select example" name="input[ip_address]" id="input_ip_address">
  <% network_devices.each do |topic, ip| %>
	  <option value=<%= ip %>><%= topic %></option>
  <% end %>
</select>