<select class="form-select" aria-label="Default select example" name="sensor[type]" id="sensor_type">
  <option selected>Choose a Sensor</option>
  <option value="Magnetic Switch">Magnetic Switch</option>
</select>